    #main{
        background-color: aqua;
        background-image: https://github.com/zavagepuffjr/Webith;
        border: 1px solid;
        padding: 0px 20px 20px 20px;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
        body{
            
        }